JWT_SECRET=paste_your_generated_secret_here
PGPASSWORD=the_password_you_set_in_setup_db.sql
PGUSER=name_user
PGDATABASE=name
PGHOST=localhost
PGPORT=5432
JWT_EXPIRES=7d
BCRYPT_ROUNDS=12
FRONTEND_ORIGIN=http://localhost:3000
PGSSL=false
PORT=3001